<h1>I'm an index</h1>
<p><a href="/recipes">Recipes</a></p>
<p><a href="/tags">Tags</a></p>
<p><a href="/ingredients">Ingredients</a></p>
<form class="" action="/ingredients/search" method="post">
  <div class="form-group form-inline">
    <label for="search-by-ingredient">Search by Ingredient</label>
    <input class="form-control" type="text" id="search-by-ingredient" name="search-by-ingredient">
    <button type="submit" name="button" class="btn">Search</button>
  </div>
</form>
